<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919426270593-c3f4mv2a2f9geevej3on4lg3ht9arcr6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919426270593-c3f4mv2a2f9geevej3on4lg3ht9arcr6</string>
	<key>API_KEY</key>
	<string>AIzaSyD3HJSjCLgTJeVyWAKT1SRBmrtDcwn2-CU</string>
	<key>GCM_SENDER_ID</key>
	<string>919426270593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.sparrowcode.apps.otp-auth</string>
	<key>PROJECT_ID</key>
	<string>sparrowcode-otp</string>
	<key>STORAGE_BUCKET</key>
	<string>sparrowcode-otp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919426270593:ios:4e2329908acb70b3259480</string>
</dict>
</plist>